<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Lender</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <div class="left">

        <h1>🏦 Smart Lender</h1>

        <h2>Loan Prediction System</h2>

        <p>
            Welcome to Smart Lender.
            Predict your loan approval instantly using
            Machine Learning.
        </p>

        <a href="/prediction" class="btn">
            Get Started →
        </a>

    </div>

    <div class="right">

        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
             alt="Loan">

    </div>

</div>

</body>
</html>